{#
/**
 * @file program.html.twig
 * Default theme implementation to present Program data.
 *
 * This template is used when viewing Program pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_program()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('program') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
